:root {
  --color-white: #fff;
  --color-red: #ff6565;
  --font-small: 12px;
  --font-medium: 16px;
  --font-large: 32px;
  --font: 'Source Sans Pro', 'Lato', sans-serif;
}

header {
  width: 100%;
  background-image: url('images/headphones_hero_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: var(--color-white);
}

header .header {
  justify-content: space-between;
  align-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
}

header .header nav {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-content: space-between;
}

.header {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
}

.header-content p {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: var(--font-medium);
}

/** Media Query desktop version **/
@media (max-width: 1200px) {
  header {
    background-position: 42% 50%;
  }
}

/** Links Styles **/
a {
  text-decoration: none;
  color: var(--color-white);
  transition: color 0.1s ease;
}

a:hover,
a:active {
  color: var(--color-red);
}

/** Button Style **/
.button {
  font-family: var(--font);
  font-size: 14px;
  background: var(--color-red);
  color: white;
  border: none;
  padding: 1rem 2rem;

  font-weight: 700;
  border-radius: 24px;
  margin: 1rem auto;
  cursor: pointer;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.2s ease;
}

.button:hover,
.button:active {
  opacity: 0.9;
}

/** Logo Styles **/
.logo {
  width: 161px;
  height: auto;
}

/** Botton and Manue Mobile**/

#menu-toggle {
  display: none;
  position: absolute;
}

#menu-btn {
  display: none;
  position: absolute;
}

.header-nav {
  display: inline-flex;
  margin: auto 0;
  padding: 0;
  list-style-type: none;
  font-size: var(--font-small);
  font-weight: 700;
  font-family: var(--font);
}

.header-nav li {
  margin: auto 1.25rem;
}

.header-content {
  width: 75%;
  text-align: center;
  font-family: var(--font);
  margin: 20rem auto 0 auto;
}

.title {
  font-size: var(--font-large);
  position: relative;
  font-weight: 700;
}

.title::after {
  content: 'Lorem ipsum dolor set amet lorem ipsum';
  display: block;
  font-size: var(--font-medium);
  position: relative;
  margin: 0.25rem 0;
}

/** Media query Mobile Version **/

@media (max-width: 480px) {
  header {
    background-position: 44% 50%; /* transition: background-position 0.2s ease; */
  }

  header .header nav {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 50%;
    height: auto;
  }

  .header-nav {
    display: none;
    width: 100%;
    flex-direction: column;
    margin: 1rem auto;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
  }

  .header-nav li {
    width: 100%;
    margin: 0.5rem auto;
  }

  .header-content {
    margin: 14rem auto 0 auto;
    width: 100%;
  }

  #menu-btn {
    background: white;
    height: 2px;
    width: 13px;
    position: absolute;
    left: 1rem;
    top: 18px;
    display: block;
  }

  #menu-btn::before {
    content: '';
    background: white;
    height: 2px;
    width: 20px;
    position: relative;
    top: -0.4rem;
    display: block;
    transition: all 0.2s ease;
  }

  #menu-btn::after {
    content: '';
    background: white;
    height: 2px;
    width: 18px;
    position: relative;
    top: 0.3rem;
    display: block;
    transition: all 0.2s ease;
  }

  #menu-toggle:checked ~ .header-nav {
    display: inline-flex;
  }

  #menu-toggle:checked ~ #menu-btn {
    background: transparent;
  }

  #menu-toggle:checked ~ #menu-btn::before {
    transform: rotate(45deg);
    top: 3px;
    margin: auto;
  }

  #menu-toggle:checked ~ #menu-btn::after {
    width: 20px;
    transform: rotate(-45deg);
    top: 1px;
    margin: auto;
  }
}
